In [3]:
import pandas as pd

In [5]:
import pyreadstat as sas

In [7]:
sas.read_sas7bcat?

Docstring:
Read a SAS sas7bcat file. The returning dataframe will be empty. The metadata object will contain a dictionary
value_labels that contains the formats. When parsing the sas7bdat file, in the metadata, the dictionary
variable_to_label contains a map from variable name to the formats.
In order to apply the catalog to the sas7bdat file use set_catalog_to_sas or pass the catalog file as an argument
to read_sas7bdat directly.
SAS catalog files are difficult ones, some of them can be read only in specific SAS version, may contain strange
encodings etc. Therefore it may be that many catalog files are not readable from this application.

Parameters
----------
    filename_path : str
        path to the file. The string is assumed to be utf-8 encoded
    encoding : str, optional
        Defaults to None. If set, the system will use the defined encoding instead of guessing it. It has to be an
        iconv-compatible name

Returns
-------
    data_frame : pandas dataframe
        a pandas data frame with the data (no data in this case, so will be empty)
    metadata :
        object with metadata. The member value_labels is the one that contains the formats.
        Look at the documentation for more information.
Type:      builtin_function_or_method

In [73]:
from os.path import join
path = r'D:\Data Science Folder\PISA Analysis\Data\2018\2018_School_Questionnaire_Data_Files'
DataFile = 'cy07_msu_sch_qqq.sas7bdat'
CatFile = 'CY07MSU_FMT_SCH_QQQ.SAS7BCAT'

In [81]:
Catalogue = sas.read_sas7bcat(filename_path = join(path,CatFile), 
                            encoding = 'utf-8')
Catalogue = Catalogue[1]
Catalogue

In [79]:
[DataFrame, MetaData] = (
    sas.read_sas7bdat(
        filename_path = join(path,DataFile), 
        #catalog_file = join(path,DataFile), 
        encoding = 'utf-8', 
        row_limit = 10   
    )
)
DataFrame.head()

,CNTRYID,CNT,CNTSCHID,CYC,NatCen,Region,STRATUM,SUBNATIO,OECD,ADMINMODE,...,STAFFSHORT,STUBEHA,TEACHBEHA,SCMCEG,W_SCHGRNRABWT,W_FSTUWT_SCH_SUM,SENWT,VER_DAT,i,M
0,8.0,ALB,800002.0,07MS,000800,800.0,ALB0109,0080000,0.0,2.0,...,-1.4551,-1.1797,-2.0409,NaN,7.98891,115.10603,24.81933,09MAY19:11:20:57,29.0,NaN
1,8.0,ALB,800003.0,07MS,000800,800.0,ALB0109,0080000,0.0,2.0,...,-1.4551,2.1196,2.5150,NaN,6.50492,26.01970,20.20900,09MAY19:11:20:57,29.0,NaN
2,8.0,ALB,800004.0,07MS,000800,800.0,ALB0211,0080000,0.0,2.0,...,-1.4551,-0.6199,-0.4415,NaN,6.64198,99.62974,20.63480,09MAY19:11:20:57,29.0,NaN
3,8.0,ALB,800005.0,07MS,000800,800.0,ALB0107,0080000,0.0,2.0,...,1.2432,-0.2682,-0.0452,NaN,5.93762,66.50133,18.44654,09MAY19:11:20:57,29.0,NaN
4,8.0,ALB,800006.0,07MS,000800,800.0,ALB0105,0080000,0.0,2.0,...,-1.4551,-1.3196,-2.0409,NaN,14.61508,277.68645,45.40500,09MAY19:11:20:57,29.0,NaN

In [80]:
[DataFrame, MetaData] = (
    sas.read_sas7bdat(
        filename_path = join(path,DataFile), 
        catalog_file = join(path,CatFile), 
        encoding = 'utf-8', 
        row_limit = 10   
    )
)
DataFrame.head()

,CNTRYID,CNT,CNTSCHID,CYC,NatCen,Region,STRATUM,SUBNATIO,OECD,ADMINMODE,...,STAFFSHORT,STUBEHA,TEACHBEHA,SCMCEG,W_SCHGRNRABWT,W_FSTUWT_SCH_SUM,SENWT,VER_DAT,i,M
0,8.0,ALB,800002.0,07MS,000800,800.0,ALB0109,0080000,0.0,2.0,...,-1.4551,-1.1797,-2.0409,NaN,7.98891,115.10603,24.81933,09MAY19:11:20:57,29.0,NaN
1,8.0,ALB,800003.0,07MS,000800,800.0,ALB0109,0080000,0.0,2.0,...,-1.4551,2.1196,2.5150,NaN,6.50492,26.01970,20.20900,09MAY19:11:20:57,29.0,NaN
2,8.0,ALB,800004.0,07MS,000800,800.0,ALB0211,0080000,0.0,2.0,...,-1.4551,-0.6199,-0.4415,NaN,6.64198,99.62974,20.63480,09MAY19:11:20:57,29.0,NaN
3,8.0,ALB,800005.0,07MS,000800,800.0,ALB0107,0080000,0.0,2.0,...,1.2432,-0.2682,-0.0452,NaN,5.93762,66.50133,18.44654,09MAY19:11:20:57,29.0,NaN
4,8.0,ALB,800006.0,07MS,000800,800.0,ALB0105,0080000,0.0,2.0,...,-1.4551,-1.3196,-2.0409,NaN,14.61508,277.68645,45.40500,09MAY19:11:20:57,29.0,NaN

In [ ]:
sas.set_catalog_to_sas(DataFrame, MetaData, Catalogue)[0].head()

In [83]:
DataFrame = pd.read_spss("CY07_MSU_SCH_QQQ.sav")

,CNTRYID,CNT,CNTSCHID,CYC,NatCen,Region,STRATUM,SUBNATIO,OECD,ADMINMODE,...,STAFFSHORT,STUBEHA,TEACHBEHA,SCMCEG,W_SCHGRNRABWT,W_FSTUWT_SCH_SUM,SENWT,VER_DAT,test,BOOKID
0,Albania,Albania,800002.0,07MS,Albania,Albania,ALB - stratum 09: Rural / Center / Public,Albania,No,Computer,...,-1.4551,-1.1797,-2.0409,NaN,7.98891,115.10603,24.81933,09MAY19:11:20:57,NaN,NaN
1,Albania,Albania,800003.0,07MS,Albania,Albania,ALB - stratum 09: Rural / Center / Public,Albania,No,Computer,...,-1.4551,2.1196,2.5150,NaN,6.50492,26.01970,20.20900,09MAY19:11:20:57,NaN,NaN
2,Albania,Albania,800004.0,07MS,Albania,Albania,ALB - stratum 11: Rural / South / Public,Albania,No,Computer,...,-1.4551,-0.6199,-0.4415,NaN,6.64198,99.62974,20.63480,09MAY19:11:20:57,NaN,NaN
3,Albania,Albania,800005.0,07MS,Albania,Albania,ALB - stratum 07: Rural / North / Public,Albania,No,Computer,...,1.2432,-0.2682,-0.0452,NaN,5.93762,66.50133,18.44654,09MAY19:11:20:57,NaN,NaN
4,Albania,Albania,800006.0,07MS,Albania,Albania,ALB - stratum 05: Urban / South / Public,Albania,No,Computer,...,-1.4551,-1.3196,-2.0409,NaN,14.61508,277.68645,45.40500,09MAY19:11:20:57,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21898,Tatarstan (RUS),Tatarstan (RUS),98300802.0,07MS,Russian Federation,Russian Federation: Republic of Tatarstan,QRT - stratum 87: Tatarstan,Tatarstan (RUS),No,Computer,...,0.1964,-0.8655,-0.9138,NaN,8.35477,180.42418,32.18244,01MAY19:20:24:14,NaN,NaN
21899,Tatarstan (RUS),Tatarstan (RUS),98300803.0,07MS,Russian Federation,Russian Federation: Republic of Tatarstan,QRT - stratum 87: Tatarstan,Tatarstan (RUS),No,Computer,...,0.6736,3.4411,3.7879,NaN,8.35477,42.30265,32.18244,01MAY19:20:24:14,NaN,NaN
21900,Tatarstan (RUS),Tatarstan (RUS),98300804.0,07MS,Russian Federation,Russian Federation: Republic of Tatarstan,QRT - stratum 87: Tatarstan,Tatarstan (RUS),No,Computer,...,-1.4551,1.4176,1.6385,NaN,8.35477,96.42515,32.18244,01MAY19:20:24:14,NaN,NaN
21901,Tatarstan (RUS),Tatarstan (RUS),98300805.0,07MS,Russian Federation,Russian Federation: Republic of Tatarstan,QRT - stratum 87: Tatarstan,Tatarstan (RUS),No,Computer,...,-0.0019,2.6095,1.5152,NaN,8.35477,31.72699,32.18244,01MAY19:20:24:14,NaN,NaN
21902,Tatarstan (RUS),Tatarstan (RUS),98300806.0,07MS,Russian Federation,Russian Federation: Republic of Tatarstan,QRT - stratum 87: Tatarstan,Tatarstan (RUS),No,Computer,...,-0.1953,0.8915,-0.1791,NaN,4.17739,207.28298,16.09122,01MAY19:20:24:14,NaN,NaN